
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.full {
    width: 100%
}

.container {
    &.header {
        padding-bottom: 20px;
    }
}
