<template>
    <div>
        <div class="container header">
            <h1 class="display-3 text-center"><img src="https://www.medoucine.com/images/logos/logo.svg" width="350"/></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 nopadding">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle full" type="button" ref="chooseCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cityPlaceHolder }}</button>
                        <div class="dropdown-menu choose-city" aria-labelledby="choose-city">
                            <a v-for="city in cities" :class="'dropdown-item city-link-' + city.id" href="#" v-on:click="chooseCity(city)">{{ city.name }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 nopadding">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle full" type="button" ref="choosePractice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :disabled="practiceButtonDisabled">{{ practicePlaceHolder }}</button>
                        <div class="dropdown-menu choose-practice" aria-labelledby="choose-practice">
                            <a v-for="practice in practices" :class="'dropdown-item practice-link-' + practice.id" href="#" v-on:click="choosePractice(practice)">{{ practice.name }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 nopadding">
                    <button ref="getTherapists" type="button" class="btn btn-success full" v-on:click="getTherapists(city, practice)" :disabled="getTherapistsButtonDisabled">Go !</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="card col-xs-12 col-sm-6" style="width: 18rem;" v-for="therapist in therapists">
                    <div class="row">
                        <div class="col-5">
                            <img class="card-img-top" src="https://static1.ozap.com/articles/8/28/04/58/@/2207230-hugh-laurie-est-le-dr-house-128x128-1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body col-7">
                            <h5 class="card-title">{{ therapist.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ therapist.city }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ therapist.practices }}</h6>
                            <p class="card-text">{{ therapist.description }}</p>
                            <a href="#" class="card-link">Prendre RDV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div v-for="city in cities" class="col-4">
                    <h4>{{ city.name }}</h4>
                    <ul>
                        <li v-for="practice in city.practices"><a href="#" v-on:click="getTherapists(city, practice)">{{ practice.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    props: ['cities'],
    data() {
        return {
            practiceButtonDisabled: true,
            getTherapistsButtonDisabled: true,
            cityPlaceHolder: 'Choisir une ville',
            practicePlaceHolder: 'Choisir un thérapeute',
            practices: [],
            therapists: [],
            city: null,
            practice: null
        }
    },
    methods: {
        chooseCity: function(city) {
            this.city = city
            this.practice = null,
            this.practices = city.practices
            this.cityPlaceHolder = city.name
            this.practicePlaceHolder = 'Choisir un thérapeute'
            this.practiceButtonDisabled = false
            this.getTherapistsButtonDisabled = true
        },
        choosePractice: function(practice) {
            this.practice = practice
            this.practicePlaceHolder = practice.name
            this.getTherapistsButtonDisabled = false
        },
        getTherapists: function(city, practice) {
            axios
                .get('/api/therapists?city_id=' + city.id + '&practice_id=' + practice.id)
                .then(response => {
                    this.therapists = response.data.data
                    this.cityPlaceHolder = city.name
                    this.practicePlaceHolder = practice.name
                    this.practiceButtonDisabled = false
                })
        }
    }
}
</script>
